.footer button {
    color: #ffffff;
}

.footer {
    height: 6vh;
    width: 60vw;
    color: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate {
    background: none;
    outline: none;
    border: none;
    font-size: 26px;
    font-weight: bold;
}

.modifiers {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modify {
    padding: 10px 20px;
    background: #34a5da;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}